<div class='container'>
  <h2>Ma liste de Pokemons</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="inputName" placeholder="Recherche par nom" [(ngModel)]="inputName" />
  </div>
  <div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Recherche par id" [(ngModel)]="inputId" />
  </div>
  <div>
  <select class="form-select" aria-label="Default select example" name="type" [(ngModel)]="sel">

    <option value="">Selectionne un type</option>
    <option *ngFor="let pokemonOpt of pokemonTypeSelect" [ngValue]="pokemonOpt.type">{{pokemonOpt.type}}</option>
  </select>
  </div>
</div> <br>

<div class='container'>
  <div class="row">
    <div class="card" style="width: 18rem"
      *ngFor="let pokemon of pokemons | filterName : inputName | filterId : inputId | pokemonType: sel">
      <h3>{{pokemon.name}}</h3>
      <h3>n°{{pokemon.id}}</h3>
      <h6>type :</h6>
      <div *ngFor="let typ of pokemon.type"> {{typ}}</div>
      <img src={{pokemon.img}} style="width: 200px;">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
